.page {
  width: inherit;
  border: 1px solid black;
  background-color: rgba(242, 244, 239, 0.91);
}
.page-content {
  margin-top: -21px;
  width: 100%;
  height: 500px;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-content {
  position: absolute;
  bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.text-content.top {
  top: 5px;
  bottom: unset;
}

.text-content.small {
  font-size: 14px;
}

.text-content.medium {
  font-size: 16px;
}

.page-number {
  font-weight: 900;
  position: absolute;
  bottom: -12px;
  right: 10px;
}

img {
  width: 100%;
}